:root {
  --x-custom-border-color: #a1a1a1;
  --x-custom-outside-color: #ffffff;
  --x-custom-background-color: #ffffff;
  --x-custom-light-text-color: #333;
  --x-custom-light-back-color: #e8e8e8;
  --x-custom-link-color: #425d73;
  --x-custom-content-border-left-color: #eaeaea;
  --x-custom-content-border-right-color: #777777;
  --x-custom-content-light-background: #e8e8e8;
  --x-custom-content-active-background: #c061cb;
  --x-custom-content-hover-background: #99cce660;
}

@font-face {
  font-family: adawaita-sans;
  src: url(/js_libs/AdwaitaSans-Regular.ttf);
}

body {
  font-size: 2em;
  text-align: center;
  margin: 5em auto;
}
